import(nlme)
import(MASS)
import(methods)
import(jsonlite)
import(knitr)
import(AICcmodavg)
import(rlist)

importFrom("graphics", "abline", "hist", "par", "plot")
importFrom("stats", "AIC", "aggregate", "as.formula", "complete.cases",
					 "density", "fisher.test", "formula", "poisson", "predict",
					 "qqnorm", "resid", "sd", "terms", "xtabs")
importFrom("stats", "na.omit", "reformulate", "update")
importFrom("utils", "combn", "head", "tail")
importFrom("methods", "setClass")
importFrom("Hmisc","describe")
importFrom("methods", "is")
importFrom("methods", "formalArgs")
importFrom("nlme", "lme","gls","getData","lmeControl","glsControl")
importFrom("stats", "qqline", "anova")
importFrom("stats", "coef", "dist", "glm.control", "quantile", "runif",
               "setNames", "shapiro.test", "update.formula", "var")
importFrom("stats", "delete.response", "terms.formula", "ks.test")
importFrom("MASS", "stepAIC","addterm")
importFrom("stats", "deviance", "extractAIC", "factor.scope", "nobs")
importFrom("stats", "drop.scope","model.matrix")
importFrom("stats", "pchisq","relevel")
importFrom("graphics", "mosaicplot")
importFrom("car"     , "qqPlot", "densityPlot")

S3method(summary   , OpenStatsList)
S3method(summary   , OpenStatsMM)
S3method(summary   , OpenStatsRR)
S3method(summary   , OpenStatsFE)
S3method(summary   , OpenStatsComplementarySplit)
S3method(summary   , NULL)

S3method(plot      , OpenStatsList)
S3method(plot      , OpenStatsMM)
S3method(plot      , OpenStatsRR)
S3method(plot      , OpenStatsFE)
S3method(plot      , OpenStatsComplementarySplit)
S3method(plot      , NULL)


S3method(print     , OpenStatsList)
S3method(print     , OpenStatsMM)
S3method(print     , OpenStatsRR)
S3method(print     , OpenStatsFE)
S3method(print     , OpenStatsComplementarySplit)
#S3method(print     , NULL)

export(
	OpenStatsList    ,
	OpenStatsAnalysis,
	OpenStatsReport  ,
  OpenStatsComplementarySplit
)

